
  @font-face {
    font-family: 'Astrology';
    src: url('./fonts/Astrology.otf');
  }


  @font-face {
    font-family: 'AstrologyBold';
    src: url('./fonts/Astrology.ttf');
  }

  @font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: 'poppinsLight';
    src: url('./fonts/Poppins-Light.ttf');
  }
  html, body {
		max-width:100%;
		overflow-x:hidden;
	}

  :root{
    --headingfont: 'Astrology';
    --linksfont: 'poppinsLight';
    --contentfont: 'poppinsLight';
    --headingfontsize: 24px;
    --primaryfontsize: 20px;
    --secondaryfontsize: 12px;

  }

  .main_body_bg{
    background-image: url("./images/main-bk.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px 0px;
  }


  /* HEADER SECTION CSS START (main_header) */
  
  .main_header{
    position: absolute;
    width: 100%;
    padding: 10px 30px;
    z-index: 2;
    background-color: transparent;
  }

  .logo-name{
    font-family: 'Space' ,'Astronomy';
    font-size: 18px !important;
    color: #fff !important;
  }

  a.nav-link.main_menu_head {
    color: #fff !important;
    font-family: var(--linksfont);
    font-size: 14px;
    padding: 0px 10px !important;
  }
  
  a.nav-link.main_menu_head:hover{
    text-decoration: underline !important;
    /* background: -webkit-linear-gradient(286deg, #43B1E9, #E223FA) !important;
    -webkit-background-clip: text !important;
    color: transparent !important; */
    color: #E223FA !important;
   
  }

  .login_btn{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 6px 18px;
    color: #fff;
    font-size: var(--secondaryfontsize);
    display: inline-block;
    font-family: var(--linksfont);
  }

  .login_btn:hover{
    color: #fff;
    text-decoration: none;
    background: linear-gradient(286deg, #43B1E9, #E223FA);
  }

  .navbar-toggler{
    border: none !important;
  }

  .navbar-toggler-icon{
    filter: invert(1) brightness(200%);
  }

  .login_btn img{
    height: 12px;
    width: 12px;
    margin-top: -2px;
  }
  
  .login_btn span{
    padding-left: 3px;
    display: inline-block;
  }
  

  /* HEADER SECTION CSS END */

  
/* BANNER SECTION CSS START (banner_top_section) */

.banner_top_section{
  background-image: url("./images/hero-bk.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0px 40px;
}

.banner_top_section h1.store{
  font-family: var(--headingfont);
  font-size: 65px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff
}

.banner_top_section p.store_para{
  font-family: var(--linksfont);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

/* BANNER SECTION CSS END */
  

  /* JEWELRY SECTION CSS START (jewelry_section) */

  .jewelry_heading_with_para{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
  }

  .jewelry{
    font-family: var(--headingfont);
    font-size: 65px;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0px;
  }

  .jewelry_para{
    font-family: var(--contentfont);
    font-size: var(--secondaryfontsize);
    text-align: center;
    color: #fff;
    margin: 0px;
    Line-height: 20px;
  }

  .art_work{
    border-radius: 20px;
    background: transparent;
    color: #fff;
    padding: 8px 47px;
    margin: 0px;
    border: 1px solid #43B1E9;
    font-size: 14px;
  }
  .art_work:hover{
    background: linear-gradient(286deg, #43B1E9, #E223FA);
    color:#fff;
  }
  .price{
    font-family: var(--contentfont);
    font-size: var(--primaryfontsize);
    font-weight: 400;
    text-align: left;
    color:#fff;
  }

   /* jewelry boxes start  */

   .jewelry_main_boxes{
    text-align: center;
    margin-top: 40px;
  }

  .jewelry_image{
    border-radius: 140px;
    padding: 20px;
  }
  
  .product_name{
    font-family: var(--headingfont);
    /* font-size: var(--headingfontsize); */
    /* line-height: 38.5px; */
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 40px;
  }

  .product_description{
    font-family: var(--contentfont);
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
  }

  .details{
    font-family: var(--contentfont);
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    padding: 8px 47px;
    margin: 0px;
    border: 1px solid #fff;
    font-size: var(--secondaryfontsize);
    text-align: center;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    text-decoration: none;
    display: inline-block;
  }

  .details:hover{
    color: #fff;
    text-decoration: none;
    background: linear-gradient(286deg, #43B1E9, #E223FA);
    
  }

  .jewelry_box_img {
  position: relative;
  }

  .jewelry_box_img::before {
    content: '';
    position: absolute;
    height: 84%;
    width: 80%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 140px;
  }
    /* animation for home page start*/
    @keyframes fadeInLeft {
      from {
          opacity:0;
          -webkit-transform: translatex(-100px);
          -moz-transform: translatex(-100px);
          -o-transform: translatex(-100px);
          transform: translatex(-100px);
      }
      to {
          opacity:1;
          -webkit-transform: translatex(0);
          -moz-transform: translatex(0);
          -o-transform: translatex(0);
          transform: translatex(0);
      }
  }
    .in-left {
        -webkit-animation-name: fadeInLeft;
        -moz-animation-name: fadeInLeft;
        -o-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -o-animation-duration:1s;
        animation-delay: 1s;
    }
    @keyframes fadeInUp {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    
    .fadeInUp-animation {
      animation: 1.5s fadeInUp;
    }
    @keyframes fadeInRight {
      from {
        opacity: 0;
        transform: translateX(300px);
      }
      to {
        opacity: 1;
      }
    }
    .fadeInRight-animation{
      animation: fadeInRight 1s ease-in-out;
    }
 /* animation for home page end*/

  /* jewelry boxes end  */

  /* range slider start */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(286deg, #43B1E9, #E223FA);
    border: 1px solid #fff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #E223FA;
    cursor: pointer;
  }
  .range_number{
    color: #fff;
  }
/* range slider end */



  /* JEWELRY SECTION CSS END */

  
  /* BLOGS SECTION CSS START */

  .blog_boxes{
    margin-bottom: 40px;
  }
  
  .post_heading_with_description{
    position: relative;
    z-index: 3;
    text-align: center;
    background: #343a407a;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 9%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #00327a;
    padding: 23px;
    margin: -96px 13px 0px 13px;
  }
  .post_name{
    font-family: var(--headingfont);
    font-size: 26px;
    font-weight: 400;
    line-height: 38.5px;
    text-align: center;
    color: #fff;
  }
  .post_description{
    font-family: var(--contentfont);
    font-size: 12px;
    font-weight: 400;
    line-height: 29px;
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
  }
  .post_btn{
    font-family: var(--contentfont);
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    background-color: transparent;
    text-decoration: underline;
    color: #fff;
    border: none;
    display: inline-block;
  }

  .post_btn:hover{
    color: #fff;
  }

  .post_image {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
}

.blogs_card_img{
  position: relative;
}

.blogs_card_img::before {
  content: '';
  position: absolute;
  height: 94%;
  width: 96%;
  border: 1px solid #613cd170;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 2;
} 


    /* BLOGS SECTION CSS END */


    /* WHO WE ARE CSS START */

    h2.julie_heading{
      font-family: var(--headingfont);
      font-size: 60px;
      font-weight: 400;
      line-height: 84.74px;
      text-align: left;
      color: #fff;
      padding-left: 34px;
      position: relative;
      z-index: 2;
    }

    .julie_heading_behind {
      position: absolute;
      top: 0px;
      transform: scale(1.8);
      background: linear-gradient( #E223FA 100%, #43B1E9 100%);
   
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px transparent;
      transform-origin: left;
      color: #0a2e74;
      opacity: 0.5;
      font-family: var(--headingfont);
      font-size: 80px;
      font-weight: 400;
      letter-spacing: -3px;
      text-align: left;
    }
    .julie_heading_behind_two {
      position: absolute;
      top: 0px;
      transform: scale(1.8);
      background: linear-gradient( #E223FA 100%, #43B1E9 100%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px transparent;
      transform-origin: left;
      color: #04406b;
      opacity: 0.5;
      font-family: var(--headingfont);
      font-size: 80px;
      font-weight: 400;
      letter-spacing: -3px;
      text-align: left;
  }

  .julie_para{
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
  }
  .julie_image{
    border-radius: 160px;
  }
  .julie_image_one{
    border-radius: 160px;
  }
  .image_border{
    border: 1px solid #E223FA;
  }
  .julie_iamges_container{
   align-items: center;
  }
  .second_about_section{
    margin: 100px 0px;
  }
  .third_about_section{
    margin: 100px 0px;
  }

  h2.what_heading{
    font-family: 'Astrology';
    font-size: 60px;
    font-weight: 400;
    line-height: 84.74px;
    text-align: center;
    color: #fff;
  
    position: relative;
    z-index: 2;

  }
  h2.what_heading_behind {
    position: absolute;
    top: 0px;
    transform: scale(1.8);
    background: linear-gradient( #E223FA 100%, #43B1E9 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    transform-origin: left;
    color: #08627d;
    left: 219px;
    opacity: 0.5;
    font-family: var(--headingfont);
    font-size: 84px;
    font-weight: 400;
    letter-spacing: -3px;
    text-align: center;   
}
  .what_we_do_card{
    background-image: url(./images/whoweare-bk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 35px;
  }
  .Tarot_Card{
    font-family: var(--headingfont);
    font-size: 37px;
    font-weight: 400;
    line-height: 70.62px;
    text-align: center;
    color: #fff;

  }
  .Tarot_Card_para{
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#BEBEBE;
  }
     /* WHO WE ARE CSS END */

 /* Today Zodiac css start */


  .aires{
    /* border-style: solid;
    border-image: linear-gradient(86deg, #43B1E9, #E223FA) 1; */
    border: 3px solid #E223FA;
    text-align: center;
    padding: 59px 25px 0px 25px;
    border-radius: 136px;
    height: 348px;
    filter: drop-shadow(0 0 0.75rem #FFFFFF);
  
  }
  .aires:hover{
    background: linear-gradient(86deg, #43B1E9, #E223FA);
    
  }

 .stars_name{
  font-family: 'Belgium';
  font-size: 26px;
  font-weight: 400;
  line-height: 108.2px;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
 }
 .view_text{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #D6B541;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
 }

 .view_text:hover{
  text-decoration: none;
  background: linear-gradient(86deg, #43B1E9, #E223FA);
background-clip: text;
-webkit-text-fill-color: transparent;
 }
 .view{
  border: 2px solid #D6B541;
  text-align: center;
  padding: 40px 30px;
  border-radius: 103px;
  width: 110px;
  height: 110px;
  position: relative;
  margin-top: -33px;
  z-index: 10;
 }


/* Today Zodiac css end */

/* login page css start */



/* LOGIN SECTION CSS START (login_section) */

.login_section{
  background-image: url("./images/login-bk.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0px;
}

.login_para{
  font-size: 12px;
  line-height: 18px;
  color: #c1c1c1;
  font-family: var(--contentfont);
}

.other_social_logins{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.other_login_img img{
  height: 20px;
  width: 20px;
}

.other_login_btn{
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: 1px solid #9e56a9;
  padding: 10px 22px;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
}

.other_login_btn:hover{
  background-color: #43B1E9;
}

.other_login_btn span{
  color: #fff;
  font-family: var(--contentfont);
  font-size: var(--secondaryfontsize);
  text-transform: capitalize;
}

.login_section form label{
  color: #fff;
  font-family: var(--contentfont);
  font-size: 14px;
  position: relative;
  width: 100%;
}

.login_section form input{
  background-color: #3622224a !important;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: #fff;
  padding-left: 24px;
  position: relative;
}

.login_section form input::placeholder{
  color: #fff;
  font-family: var(--contentfont);
  font-size: 12px;
}

.login_section form input:focus{
  color: #ffffffbd;
  box-shadow: none;
  border: 1px solid  #43B1E9;
}

.login_section .email_label:after{
  content: '';
  background-image: url("./images/input-email.png");
  background-size: cover;
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  right: 25px;
  top: 44px;
  z-index: 10;
}

.login_section .password_label:after{
  content: '';
  background-image: url("./images/input-lock.png");
  background-size: cover;
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  right: 25px;
  top: 44px;
  z-index: 10;
}

.forgot_password_text{
  text-decoration: none;
}

.forgot_password_text:hover{
  text-decoration: none;
  color: #fff;
}

.login_actionBtn{
  display: inline-block;
  width: 100%;
  background-color: #E1BE43;
  color: #000;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'poppins';
  font-weight: 700;
}

.login_actionBtn:hover{
  text-decoration: none;
  color: #000;
}

.login_section .account_text{
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #cbcbcb;
  font-size: var(--contentfont);
}

.login_section .create_account_text{
  color: #43B1E9;
  font-size: var(--contentfont);
  text-decoration: none;
}

.login_section .create_account_text:hover{
  color: #43B1E9;
  font-size: var(--contentfont);
  text-decoration: none;
}

.right_login_form{
    background: linear-gradient(180deg, hsl(293deg 96% 56% / 50%) 0%, hsl(200deg 79% 59% / 46%) 100%);
    padding: 112px 50px 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #43B1E9;
}

.signin_with_text{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: var(--contentfont);
}

.login_first_img img{
  height: 730px;
  object-fit: cover;
}

/* LOGIN SECTION CSS END */



/* CALENDAR CSS START */

.pignose-calendar{
  max-width: 400px !important;
  background-color: rgb(126 126 126 / 20%) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgb(74 157 255 / 70%) !important;
}

.pignose-calendar .pignose-calendar-top{
  background-color: transparent !important;
  padding: 30px 0px !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

.pignose-calendar .icon-arrow-left:before, .pignose-calendar .icon-arrow-right:before{
  color: #fff;
}

.pignose-calendar-top-date{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 55px !important;
  color: #fff;
  gap: 6px;
}

.pignose-calendar-top-month{
  margin: 0px !important;
  font-family: var(--headingfont);
  font-size: 28px !important;
  font-weight: 500 !important;
}

.pignose-calendar-top-year{
  color: #fff !important;
  font-family: var(--headingfont);
  font-size: 28px !important;
}

.pignose-calendar-header{
  margin-top: 0px !important;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week{
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

.pignose-calendar .pignose-calendar-unit{
  border: 1px solid #fff !important;
  height: 53px !important;
  width: 51px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.pignose-calendar .pignose-calendar-unit a{
  color: #fff !important;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a{
  color: #fff !important;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a{
  border-radius: 0px !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #000 !important;
}

.pignose-calendar .pignose-calendar-body{
  margin-bottom: 20px !important;
}

/* CALENDAR CSS END */

/* login page css end */

/* let's meet css start */
.meeting{
  font-family: 'Astrology';
  font-size: 65px;
  font-weight: 400;
  line-height: 80.83px;
  letter-spacing: 0.02em;
  text-align: center;
  color:#fff;

}
.select_heading{
  font-family: 'Astrology';
  font-size: 28px;
  font-weight: 400;
  line-height: 49.5px;
  letter-spacing: 0.02em;
  text-align: left;
  color:#fff;

}
.reading_cards{
  font-family: var(--headingfont);
  font-size: 26px;
  font-weight: 400;
  line-height: 38.5px;
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px
}
.reading_cards_headings{
  position: relative;
  z-index: 3;
  text-align: center;
  background: #343a407a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 9%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #FFC700;
  padding: 26px;
  margin: -49px 13px 0px 13px
}
.reading_cards_headings:hover{
  background-color:#FFC700 ;
}
.reading_cards_headings_two{
  position: relative;
  z-index: 3;
  text-align: center;
  background: #343a407a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 9%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #E223FA;
  padding: 26px;
  margin: -49px 13px 0px 13px
}
.reading_cards_headings_two:hover{
  background-color:#E223FA;;
}
.reading_cards_headings_three{
  position: relative;
  z-index: 3;
  text-align: center;
  background: #343a407a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 9%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #43B1E9;
  padding: 26px;
  margin: -49px 13px 0px 13px
}
.reading_cards_headings_three:hover{
  background-color:#43B1E9;
}
.lets_meet_section .post_heading_with_description{
  margin: -50px 13px 0px 13px;
}

.lets_meet_section .form-group label{
  color: #fff;
  font-family: var(--contentfont);
  font-size: 14px;
  position: relative;
  width: 100%;
}

.lets_meet_section .form-group input{
  background-color: #3622224a !important;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: #fff;
  padding-left: 24px;
  position: relative;
}

.lets_meet_section .form-group input::placeholder{
  color: #fff;
  font-family: var(--contentfont);
  font-size: 12px;
}

.lets_meet_section .form-group input:focus{
  color: #ffffffbd;
  box-shadow: none;
  border: 1px solid  #43B1E9;
}

.all_radio_btns{
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
}

.radio_btns{
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  align-items: center;
}
.email_option{
  font-family: 'Poppins';
  font-size: 23.75px;
  font-weight: 400;
  line-height: 908.45px;
  text-align: right;


}

.radio_btns p{
  color: #fff;
}

.custom_checkbox{
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.custom_checkbox:checked::after {
  content: '\f00c';
  font-family: 'fontawesome';
  height:20px;
  width: 20px;
  /* background-color: bisque; */
      background: linear-gradient(86deg, #43B1E9, #E223FA);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 12px;
  color: #fff;
}



/* let's meet css end */

/* TIME CSS Start */

/* input#datetime.time_selection {
  background: transparent;
  color: #fff;
  width: 50%;
  border: 1px solid rgb(74 157 255 / 70%);
} */
input#datetime.time_selection_box{
  background: transparent;
  color: #fff;
  width: 50%;
  border: 1px solid rgb(74 157 255 / 70%);
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background: transparent;
  color: #fff;
  border: 1px solid rgb(74 157 255 / 70%);
}
.bootstrap-datetimepicker-widget{
  background: transparent;
  color: #fff !important;
  border: 1px solid rgb(74 157 255 / 70%);
}
.form-control::placeholder{
  color: #fff !important;
}
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}


/* TIME CSS End */

  /* FOOTER SECTION CSS START (footer_section) */

.footer_section{
  margin-top: 65px;
  border-top: 2px solid #fff;
  padding-top: 20px;
}

.footer_para{
  font-family: var(--contentfont);
  font-size:14px;
  color: #fff;
  text-align: center;
}
.footer_para_address{
  font-family: var(--contentfont);
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.footer_bottom_div{
  /* background: linear-gradient(90deg, hsla(335, 91%, 70%, 1) 0%, hsla(49, 89%, 61%, 1) 100%); */
  background: linear-gradient(86deg, #43B1E9, #E223FA);
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  margin-top: 26px;
}

.follow_us_text{
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
}


.followus_social_links {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.footer_social_links {
  display: flex;
  background: #fff;
  font-size: 14px;
  height: 30px;
  width: 30px;
  justify-content:center;
  align-items: center;
  border-radius: 50%;
  color: #000;
}

.footer_social_links:hover{
  color: #fff;
  text-decoration: none;
  background: linear-gradient(86deg, #43B1E9, #E223FA);
}

.all_social_icons{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.copy_right{
  font-family: 'Arial';
  font-size: 14px;
  font-weight: 400;
  line-height: 41.09px;
  text-align: center;
  color: #fff;

}
.term_condition{
  font-family:'Arial';
  font-size: 14px;
  font-weight: 400;
  line-height: 34.92px;
  text-align: left;
  color: #fff;

}
.term_condition:hover{
 text-decoration: none;
  /* background: linear-gradient(86deg, #43B1E9, #E223FA);
  -webkit-background-clip: text;
  color: transparent; */
  color: #043559;

}
.policies{
  display: flex;
  gap:30px;
  flex-wrap: wrap;
}
ul.footer_menu{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  
}
.footer_links{
  color: #fff;
  font-weight: 700;
}
.footer_links:hover{
  text-decoration: underline !important;
  background: -webkit-linear-gradient(286deg, #43B1E9, #E223FA) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
/* FOOTER SECTION CSS END */

      @media(max-width: 600px){

        .right_login_form{
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .right_login_form {
          padding: 80px 40px 30px;
      }

      .other_social_logins{
        gap: 12px;
      }
      }

     @media (max-width: 990px){

      .aires {
        height: 395px !important;
      }

      .navbar-nav{
        gap: 12px;
        text-align: center;
      }

      .nav-item{
        border-bottom: 1px solid #818181;
        padding-bottom: 12px;
      }
      .pictures{
        display: none;
      }
    
      .right_login_form {
        padding: 120px 40px 20px;
    }

      .navbar-collapse{
        background-image: linear-gradient(90deg, rgb(134, 17, 192) 0%, rgb(3, 1, 17) 100%);
        padding: 12px;
        border-radius: 10px;
        margin-top: 6px;
      }

      .main_header .form-inline{
        justify-content: center;
        padding-top: 10px;
      }
     }

    @media (max-width:768px) {
      .banner_top_section h1.store {
        font-size: 46px;
      }
      .banner_top_section p.store_para {
        font-size: 10px;
        line-height: 18px;
    }
      .banner_top_section {
        padding: 60px 0px;
      }
      .login_section .jewelry{
        font-size: 50px !important;
      }
  
    p.jewelry_para {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      padding: 0;
      font-size: 9px;
    }
    h3.jewelry {
      font-size: 22px;;
    }
    h6.price {
      font-size: 16px;
    }
    .art_work {
      padding: 6px 39px;
    }
    h2.julie_heading {
      font-size: 50px;
    }
    .julie_heading_behind {
      font-size: 70px;

    }
    .julie_heading_behind_two{
      font-size: 45px;
      top: 22px;
    }
    h2.what_heading_behind{
      font-size: 41px;
      top: 20px;
      left: 195px !important;
    }
    h2.what_heading {
      font-size: 45px;
    }
   
    .second_about_section {
      margin: 50px 0px;
    }
    .third_about_section{
      margin: 20px 0px;
    }
    .asisstant{
      margin-top: 40px;
    }
   
    .Tarot_Card {
    font-size: 22px;
    }
    .Tarot_Card_para {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      padding: 0;
      font-size: 10px;
    }
    .what_we_do_card {
      padding: 36px 35px !important;
    }
    .aires {
      padding: 59px 10px 0px 10px;
      border-radius: 167px;
      height: 442px !important;
  }
    .view {
      padding: 58px 30px;
      border-radius: 103px;
      width: 140px;
      height: 140px;
    
      margin-top: -50px;
    }
    .navbar-collapse.in {
      position: absolute;
      width: 100%;
      left: 0;
      top: 48px;
     }
     .copy_right {
      font-size: 11px;
      line-height: 26.09px;  
    }
    .policies {
      gap: 13px;
    }
    .term_condition {
      font-size: 11px;
      line-height: 1.09px; 
  }
     /* .navbar-collapse.collapse {
      display: none !important; 
    } */
   }
    @media (max-width:375px) {
      h2.what_heading_behind {
        left: 18px !important;
    }
    .footer_bottom_div{
      padding: 10px 10px;
    }

    }
    @media (max-width:425px) {
      h2.what_heading_behind {
        left: 56px !important;
    }
    .julie_image_one{
      margin-top: 40px;
    }
    .asisstant_cards{
      margin-top: 40px;
    }
    .what_we_do_card {
      padding: 143px 35px !important;
  }
    }
    @media (max-width:1024px) {
      h2.what_heading_behind {
        left: 153px;
    }
    .what_we_do_card {
      padding: 29px 35px
    }
    .right_login_form{
      padding: 70px 40px 20px;
    }
  
    .other_login_btn{
      gap: 2px;
      padding: 10px 18px;
    }
    .aires {
      height: 320px;
  }
  }

  


